Package: com.ps.expandedclassicscreen
Name: ExpandedClassicScreen
Version: 1.0.0
Architecture: iphoneos-arm
Description: Use 414x736 (iPhone 6s+) resolution for classic apps.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0), gsc.ipad
Depiction: https://poomsmart.github.io/repo/depictions/expandedclassicscreen.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/expandedclassicscreen.json
